/* App.css */
.App {
  background-color: black;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.font {
  color: black; /* Makes the text color black */
  font-size: 2rem; /* Optional: Adjust font size */
  font-family: Arial, sans-serif; /* Optional: Change font family */
}
