/* App.css */
.App {
  background-color: rgb(254, 254, 254);
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.font {
  color: rgb(0, 0, 0); /* Makes the text color black */
  font-size: rem; /* Optional: Adjust font size */
  font-family: Arial, sans-serif; /* Optional: Change font family */
}
